<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <title></title>
</head>
<body>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4 col-lg-offset-4" style="border:1px solid black;">
        <form class="form-signin" action="#" method="post"  th:action="@{/updateUserPassword}">
            <h2 class="form-signin-heading text-center">修改用户密码</h2>
            <input type="password" name="originPswd"  class="form-control" placeholder="请输入原始密码" required autofocus>
            <br />
            <input type="password" name="newPswd" id="pw" class="form-control" placeholder="请输入新的密码" required autofocus>
            <br />
            <input type="password" name="reNewPswd" id="rpw" class="form-control" placeholder="再次确认新的密码" required autofocus>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">修改</button>
            <label style="color: red" id="msg" th:text="${msg}"></label>

        </form>
    </div>

</div>
</body>

</html>
