<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <title></title>
</head>
<body>
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">图书管理</a></li>
                        <li><a href="#" th:href="@{/sortManager}">分类管理</a></li>
                        <li><a href="#" th:href="@{/userManager}">用户管理</a></li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <p class="lead" style="margin-top: 5px;" th:text="${session.loginAdmin.username}">游客</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h4 class="alert-warning text-center">[[${tip}]]</h4>
            <div class="row">
                <table class="table table-bordered table-striped  text-center">
                    <br/>
                    <tr>
                        <td class="col-md-1"><P>序号</p></td>
                        <td class="col-md-2"><P>用户名</p></td>
                        <td class="col-md-1"><P>是否可用</P></td>
                    </tr>
                    <tr th:each="user,stat:${users}">
                        <td class="col-md-1"><P th:text="${stat.count}">1</p></td>
                        <td class="col-md-2"><P th:text="${user.username}">zs</p></td>
                        <td class="col-md-1">
                            <P th:if="${user.state} eq 0" th:text="否">0</p>
                            <P th:unless="${user.state} eq 0" th:text="是">1</p>
                        </td>

                    </tr>

                </table>
            </div>


        </div>
    </div>
</div>
</body>
</html>
