<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<div class="container" >
    <form action="#" class="form-horizontal" role="form" method="post" th:action="@{/addUser}">

        <div class="form-group">
            <div class="col-md-3 col-md-offset-4">
                <h3 class="text-center">添加用户信息</h3>
            </div>
        </div>

        <div class="form-group">
            <label for="username" class="control-label col-md-2">用户名:</label>
            <div class="col-md-7">
                <input type="text" id="username" name="username" class="form-control " placeholder="请输入用户名" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-md-2">密码:</label>
            <div class="col-md-7">
                <input type="password" id="password" name="password" class="form-control " placeholder="请输入密码" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1 col-md-offset-5">
                <button class="btn btn-primary">提交</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>